<!DOCTYPE HTML>
<html lang="ko-KR">
<head>
<meta charset="utf-8">
<title>게시판</title>

<style>
table {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
	text-align: center;
}
</style>
</head>
<body>
	<!-- GET 조회 -->
	<form method="get" name="get" action="comment">
		<h3>검색</h3>
		팀 이름 : <input type="text" name="teamNameKr">
		<button type="submit" id="search">검색</button>
		<br>
	</form>
	<br>
	<hr>

	<!-- POST 저장 -->
	<form method="post" name="write" action="addView">
		<button type="submit" id="insert">추가</button>
	</form>
	<br>


	<!-- 수정 -->
	<form method="post" name="modify" action="modifyView">
		<button type="submit" id="modify">수정</button>
	</form>
	<br>


	<!-- 삭제 -->
	<form name="delete" method="get" action="delete">
		<input type="text" name="commentNum" id="delete"
			placeholder="글번호를 정확하게 입력해주세요.">
		<button type="submit">삭제</button>
	</form>
	<br>


	<br>
	<br>
	<br>
	<!-- 뿌려주기 -->
	<div th:each="cmt : ${pairy}">
		<table>
			<tr>
				<th>글번호</th>
				<th>팀 이름</th>
				<th>작성자</th>
				<th>작성 날짜</th>
				<th>제목</th>
				<th>내용</th>
			</tr>
			<tr>
				<td th:text="${cmt.commentNum}" />
				<td th:text="${cmt.teamNameKr}" />
				<td th:text="${cmt.writer}" />
				<td th:text="${cmt.date}" />
				<td th:text="${cmt.subject}" />
				<td th:text="${cmt.content}" />
			</tr>
		</table>
	</div>
</body>
</html>