<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>게시판</title>
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<table class="table table-striped">
	<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>날짜</th>
			<th>조회수</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>이이이이이이이이이이이</td>
			<td>이이이이</td>
			<td>2019-06-08</td>
			<td>1</td>
		</tr>
		<tr>
			<td>2</td>
			<td>최최최최최최최최최최최</td>
			<td>최최최최</td>
			<td>2019-06-08</td>
			<td>2</td>
		</tr>
		<tr>
			<td>3</td>
			<td>김김김김김김김김김김김</td>
			<td>김김김김</td>
			<td>2019-06-08</td>
			<td>3</td>
		</tr>
	</tbody>	
	</table>
<hr/>
<a class="btn btn-default">글쓰기</a>

<div class="text-center">
	<ul class="pagination">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	</ul>
</div>





<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.js"></script>

</body>

</html>